.left-panel {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "left-top-info"
        "left-menu";
}

.left-top-info {
    background-color: #2f333f;
    grid-area: left-top-info;
}

.left-menu {
    background-color: #383c4b;
    grid-area: left-menu;
}
