html, body, main {
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 300;
    height: 100%;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 197px 3px 297px 3px auto 3px 297px;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "team-selector far-left-resizer left-panel left-resizer top-info right-resizer user"
        "far-left-panel far-left-resizer left-panel left-resizer workspace right-resizer right-panel";
}

.team-selector {
    grid-area: team-selector;
}

.far-left-panel {
    grid-area: far-left-panel;
}

.far-left-resizer {
    grid-area: far-left-resizer;
    background-color: #262933;
    cursor: ew-resize;
}

.left-panel {
    grid-area: left-panel;
}

.left-resizer {
    grid-area: left-resizer;
    background-color: #262933;
    cursor: ew-resize;
}

.top-info {
    grid-area: top-info;
    border-bottom: 2px solid gainsboro;
}

.workspace {
    grid-area: workspace;
}

.right-resizer {
    grid-area: right-resizer;
    background-color: gainsboro;
    cursor: ew-resize;
}

.user {
    grid-area: user;
    border-bottom: 2px solid gainsboro;
}

.right-panel {
    grid-area: right-panel;
}

